body{
    margin: 0;
}

.container{
    background-color:black;
    width:375px;
    height: 812px;
    margin: 0 auto;
    box-sizing: border-box;

}

.result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 240px;
    color: white;
    font-size: 88px;
    height: 240px;
    padding: 15px;
    font-weight: lighter;
}

.key1{
    width: calc(100% / 4);
    height: 80px;
    background: #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 30px;
    margin: 5px;
}
.key0{
    width: calc(100% / 2);
    height: 80px;
    background: #333333;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 30px;
    margin: 5px;
}

.key2{
    width: calc(100% / 4);
    height: 80px;
    background:gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    margin: 5px;
}

.color_orange{
    background: orange;
}

.line{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
}

.Numbers{
    height: calc(100% - 240px);
}